/* Show cursor when hovered on menu icon */
#sidepanel-toggler{
    cursor: pointer;
}

/* Login with Google */
.login-with-google-btn {
    width: 100%;
    transition: background-color 0.3s, box-shadow 0.3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

/* //Login with Google */


/* Text Based HR (Horizontal Rule) */
.text-hr {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    width: 100%;
    margin: 15px auto;
    color: #444;
}
.text-hr__text {
    padding-right: 15px;
}
.text-hr__text:not(:first-child) {
    display: none;
}
.text-hr::after {
    flex: 1;
    background: #c7c7c7;
    content: "";
    height: 1px;
}

.text-hr--center::before {
    flex: 1;
    background: #c7c7c7;
    content: "";
    height: 1px;
}
.text-hr--center .text-hr__text {
    padding: 0 15px;
}
/* //Text Based HR (Horizontal Rule) */

.unauthenticated-h4{
    color: #15a362;
}

/* Textbox */
.daffort-tb{
    outline: 0 !important;
    border-width: 0 0 2px !important;
    border-color: #dcdcdc !important;
    margin: 5px 0px !important;
}

.daffort-tb:focus{
    border-color: #15a362 !important;
}

.account-data{
    display:none;
}

/* Copy URL */
.clipboard {
    border: 0;
    padding: 15px;
    border-radius: 3px;
    /* background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%); */
    background-image: linear-gradient(135deg, #20c997 10%, #15a362 100%);
    cursor: pointer;
    /* color: #04048c; */
    color: #fff;
    width: 100%;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    position: relative;
    top: 0;
    transition: all 0.2s ease;
}
.clipboard:hover {
    top: 2px;
}

.copy-status{
    display: none;
    display: block;
}
/* //Copy URL */


/* Buttons */
.app-btn-danger-lite{
    background-color: #f42d25 !important;
    color: white !important;
}
.app-btn-danger-lite:hover{
    background-color: #ea3e37 !important;
    color: white !important;
}

.app-btn-danger{
    /* background-color: #d26d69 !important; */
    background-color: #ba2121 !important;
    color: white !important;
}
.app-btn-danger:hover{
    background-color: #dc3545 !important;
    color: white !important;
}

/* .app-btn-danger:disabled, .app-btn-danger.disabled{ */
/*     color: #fff !important; */
/*     background-color: #dc3545 !important; */
/*     border-color: #dc3545 !important; */
/* } */

#skip_tweet:disabled{
    color: #6c757d !important;
}
.app-btn-warning{
    background-color: #eebf41 !important;
    /* color: white !important; */
}
.app-btn-warning:hover{
    background-color: #ffc107 !important;
    /* color: white !important; */
}

.app-btn-info{
    background-color: #5b99ea !important;
    color: white !important;
}
.app-btn-info:hover{
    background-color: #17a2b8 !important;
    color: white !important;
}
/* //Button*/

/*Extra */
.hover-ptr{
    cursor: pointer;
}

.custom-icons{
    width: 25px;
    height: 25px;
}

/* Home page css */
.response-form{
    position: relative;
    width: 100%;
    border-radius: 30px;
    background: #fff;
}

.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #f5f6fe;
}

.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
.form-inner {
    padding: 40px;
}

input[type=radio] {
    display: none;
}
label.radio {
    position: relative;
    display: inline-block;
    text-indent: 30px;
    cursor: pointer;
}
label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0.5px solid #8ebf42;
    background: #fff;
}
label.radio:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    top: 5px;
    left: 4px;
    border-bottom: 3px solid #8ebf42;
    border-left: 3px solid #8ebf42;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after {
    opacity: 1;
}
.positive-or-negative div, .severe-type div {
    display: flex;
    margin: 6px 0;
}

blockquote {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 15px !important;
    border-left: 5px solid #15a362 !important;
    display:inline-flex !important; /* Slight bigger line */
}
/* Home page ends */

.ck-table{
    /* background-color: #ffffff; */
}

/* Search box */
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 40px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #15a362;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 16px
}
/* // Search box */

.table-wrap {
    max-height: 225px;
    overflow: auto;
}

.clickable-row {
    cursor: pointer;
}

.selected_user {
    padding: 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
