{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block body_start %}
    <body class="app" onload="getNextTweet()">
    {% endblock %}

    {% block content_start %}
        <div class="app-wrapper">
            <div class="app-content pt-3 p-md-3 p-lg-4">
                <div class="container-xl">
                {% endblock %}

                {% block content %}

                    <form class="response-form">
                        <div class="form-left-decoration"></div>
                        <div class="form-right-decoration"></div>
                        <div class="circle"></div>
                        <div class="form-inner">
                            <div> <b>Tweet Id:</b> <span id="tweet_id">#tweet id#</span></div>

                            <blockquote>
                                <p class="text-dark" id="next_tweet">#tweet#</p>
                            </blockquote>

                            <hr>
                            <div class="positive_or_negative" id="pos_or_neg_div">
                                <div><b>How is this Tweet ?</b></div>
                                <input type="radio" value="1" id="positive-tweet" name="pos_or_neg" />
                                <label for="positive-tweet" class="radio">Positive</label>
                                &nbsp;&nbsp;
                                <input type="radio" value="-1" id="negative-tweet" name="pos_or_neg" />
                                <label for="negative-tweet" class="radio">Negative</label>
                            </div>
                            <div id="pos_or_neg_status">
                                Status
                            </div>

                            <hr>
                            <div class="severe-type" id="severe-type">
                                <div><b>How severe the tweet is ?</b></div>
                                <div>
                                    <input type="radio" value="1" id="radioOne" name="severe"/>
                                    <label for="radioOne" class="radio">Low</label>
                                </div>
                                <div>
                                    <input type="radio" value="2" id="radioTwo" name="severe" checked/>
                                    <label for="radioTwo" class="radio">Moderate</label>
                                </div>
                                <div>
                                    <input type="radio" value="3" id="radioThree" name="severe" />
                                    <label for="radioThree" class="radio">High</label>
                                </div>
                                <div>
                                    <input type="radio" value="4" id="radioFour" name="severe" />
                                    <label for="radioFour" class="radio">Extreme</label>
                                </div>
                            </div>
                            <div id="severe_status">
                                Status
                            </div>

                            <br>
                            <!-- <div class="text-muted">Tweets marked with asterik are mandatory</div> -->
                            <div style="float: left;">
                                <button type="button" class="btn btn-secondary" id="next_tweet_btn">Next</button>
                                <button type="button" class="btn" id="skip_tweet">Skip for now</button>
                                <span id="skip_tweet_status"></span>
                            </div>
                            <div style="float: right;">
                                <span id="never_ask_again_status"></span>
                                <button type="button" class="btn app-btn-danger" id="never_ask_again">Never ask Again</button>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </form>
                    <!-- <form class="response-form"> -->
                    <!--     <div class="form-left-decoration"></div> -->
                    <!--     <div class="form-right-decoration"></div> -->
                    <!--     <div class="circle"></div> -->
                    <!--     <div class="form-inner"> -->
                    <!--         <div> <b>Tweet Id:</b> 179</div> -->
                    <!--  -->
                    <!--         <blockquote> -->
                    <!--             <p class="text-dark">@RailMinIndia  Booked the E-ticket on PNR NUMBER- 6153163290.BUT till now not receiveing the ticket message on my resistor phone number.</p> -->
                    <!--         </blockquote> -->
                    <!--  -->
                    <!--         <hr> -->
                    <!--         <div class="positive_or_negative"> -->
                    <!--             <div><b>How is this Tweet ?</b></div> -->
                    <!--             <input type="radio" value="1" id="positive-tweet" name="pos_or_neg" /> -->
                    <!--             <label for="positive-tweet" class="radio">Positive</label> -->
                    <!--             &#38;nbsp;&#38;nbsp; -->
                    <!--             <input type="radio" value="-1" id="negative-tweet" name="pos_or_neg" /> -->
                    <!--             <label for="negative-tweet" class="radio">Negative</label> -->
                    <!--         </div> -->
                    <!--         <div id="pos_or_neg_status"> -->
                    <!--             Status -->
                    <!--         </div> -->
                    <!--  -->
                    <!--         <hr> -->
                    <!--         <div class="severe-type" id="severe-type"> -->
                    <!--             <div><b>How severe the tweet is ?</b></div> -->
                    <!--             <div> -->
                    <!--                 <input type="radio" value="1" id="radioOne" name="severe"/> -->
                    <!--                 <label for="radioOne" class="radio">Low</label> -->
                    <!--             </div> -->
                    <!--             <div> -->
                    <!--                 <input type="radio" value="2" id="radioTwo" name="severe" checked/> -->
                    <!--                 <label for="radioTwo" class="radio">Moderate</label> -->
                    <!--             </div> -->
                    <!--             <div> -->
                    <!--                 <input type="radio" value="3" id="radioThree" name="severe" /> -->
                    <!--                 <label for="radioThree" class="radio">High</label> -->
                    <!--             </div> -->
                    <!--             <div> -->
                    <!--                 <input type="radio" value="4" id="radioFour" name="severe" /> -->
                    <!--                 <label for="radioFour" class="radio">Extreme</label> -->
                    <!--             </div> -->
                    <!--         </div> -->
                    <!--         <div id="severe_status"> -->
                    <!--             Status -->
                    <!--         </div> -->
                    <!--  -->
                    <!--         <br> -->
                    <!--         <div class="text-muted">Tweets marked with asterik are mandatory</div> -->
                    <!--         <div style="float: left;"> -->
                    <!--             <button type="button" class="btn btn-secondary">Next</button> -->
                    <!--             <button type="button" class="btn" id="skip_tweet">Skip for now</button> -->
                    <!--             <span id="skip_tweet_status"></span> -->
                    <!--         </div> -->
                    <!--         <div style="float: right;"> -->
                    <!--             <span id="never_ask_again_status"></span> -->
                    <!--             <button type="button" class="btn app-btn-danger" id="never_ask_again">Never ask Again</button> -->
                    <!--         </div> -->
                    <!--         <div style="clear: both;"></div> -->
                    <!--     </div> -->
                    <!-- </form> -->

                {% endblock %}

                {% block content_end %}
                    </div>
            </div>
        </div>
    {% endblock %}

    {% block js %}
        {% include 'base/js.html' %}

        {# tweet-response is js file. So using {{ csrf_token }} in js file will not work. It must be a html file. Thus putting the csrf_token in a global variable that we can then access from our script.  #}
        <script>
            // https://stackoverflow.com/a/23350040/11605100
            var csrftoken = '{{ csrf_token }}';

        </script>
        <script src="{% static 'js/tweet-response.js' %}"></script>

    {% endblock %}

    {% block body_end %}
        </body>
    {% endblock %}
